.btn{
    margin-left: 20px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar-brand{
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 60px;
}

.nav-link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(40, 240, 40);
}
i,.icon-cog{
    color: rgb(40, 240, 40);
}
.navbar-custom{
    background-color: rgb(3, 88, 94);
}